/* The Skin for HTML*/
/* Add Colors & Floats */

/* General Rule :
** SELECTOR {
** 	propery: value;
** }
*/

.main {
	color : #eee;
}

td {
	padding: 30px;
	border-right: 1px solid #eee;
}

tr {
	border-bottom:  1px solid #eee;
}

